* {
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    margin-top: 5vmin;
    margin-left: 10vmin;
}

#grid > div {
    border: 0.1vmin solid black;
}

h1 {
    color: blueviolet;

}